/*
======================
Category Center
======================
*/
.category__section {
  padding: 10rem 20rem;
}
.category__center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem 2rem;
}
.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 6rem;
  padding: 2rem 0;
  background-color: var(--primaryColor);
}

.section__titles:not(:last-child) {
  margin-right: 1.5rem;
}

.section__title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.section__title h1 {
  font-size: 1.9rem;
  font-weight: inherit;
}

.section__title:hover .primary__title,
.section__title:hover span.dot,
.section__title:hover span.dot::before {
  opacity: 1;
}

.section__title .primary__title {
  opacity: 0.6;
  padding-left: 0.5rem;
  transition: opacity 0.3s ease-in-out;
}

span.dot {
  opacity: 0.6;
  padding: 0.45rem;
  position: relative;
  border: 1px solid var(--black);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

span.dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--black);
  background-color: var(--black);
  margin: 1px;
  opacity: 0.6;
}

.section__title.active span.dot {
  opacity: 1;
}

.section__title.active span.dot::before {
  opacity: 1;
}

.section__title.active .primary__title {
  opacity: 1;
}

@media only screen and (max-width: 999px) {
  .category__center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 568px) {
  .category__center {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 1rem;
  }

  .category__products .product__header {
    height: 10rem;
  }

  .category__products .product__header img {
    object-fit: contain;
  }
}
